@charset "UTF-8"
	
body {
  background-color: #E19BF7;
  
	margin: 0 10%;
  font-family: sans-serif;

  }


h1 {
  
	text-align: center;
  
	font-family: serif;
  
	font-weight: normal;
  
	text-transform: uppercase;
  
	border-bottom: 1px solid #74D6E6;
  
	margin-top: 30px;

}


h2 {
  color: #615E5E;
  
	font-size: 1em;

}
